[Unit]
Description=Beton Ad Server
After=multi-user.target

[Service]
Type=idle
Environment="RUNAS=beton"
Environment=BETON_SECRET=a_truly_random_characters_about_60_of_them
Environment=REVIVE_MASTER_PASSWORD=password_to_access_main_admin_account_on_revive
Environment=SQLALCHEMY_SQL_PASSWORD=password_to_access_beton_sql_database
Environment=MAIL_PASSWORD=password_to_access_smtp_relay_server
Environment=FLASK_APP=/home/beton/beton/autoapp.py
ExecStart=/home/${RUNAS}/.local/bin/flask run --host=127.0.0.1 --port=9234
Type=forking
RestartSec=10s
Restart=always
User=${RUNAS}

[Install]
WantedBy=multi-user.target
