
{% extends "layout.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">

  <h1>Welcome</h1>

  <p>This is a magic place, where you can manage web adverts.
</div><!-- /.jumbotron -->

<div class="body-content">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
    {% if not current_user or not current_user.is_authenticated %}
                <h4 class="my-0 font-weight-normal">Create an account</h4>
            </div>
            <div class="card-body">
                <p>Sleek, intuitive - just three steps. First, create an account.</p>
                <a class="btn btn-lg btn-block" role="button" href="user/register">Create an account &raquo;</a>
    {% else %}
                <h4 class="my-0 font-weight-normal">Check zones and prices</h4>
            </div>
            <div class="card-body">
                <p>Here your find all possible banner zones and their current prices.</p>
                <a class="btn btn-block btn-primary" role="button" href="{{ url_for('user.offer') }}">Check the offer &raquo;</a>
    {% endif %}
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Upload your banner</h4>
            </div>
            <div class="card-body">
                <p>Upload your banner. There is only one rule: your banner must
                    fit into the zone you have chosen.</p>
                <a class="btn btn-block btn-primary" role="button" href="{{ url_for('user.bannerz') }}">Your banners &raquo;</a>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Chose zone</h4>
            </div>
            <div class="card-body">
                <p>Next step is to select zone you want to have your banner in and add campaign to basket.</p>
                <a class="btn btn-block btn-primary" role="button" href="{{ url_for('user.order') }}">Order campaign &raquo;</a>
            </div>
        </div><!-- /.row -->
    </div>
{% endblock %}

