<nav class="navbar navbar-expand-sm rounded">
    <a class="navbar-brand" href="{% if current_user.is_authenticated %}{{ url_for('user.user_me') }}{% else %}{{ url_for('public.home') }}{% endif %}"><i class="fas fa-puzzle-piece"></i>{{ config.USER_APP_NAME }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    {% if current_user and current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.offer') }}">Offer</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.order') }}"><i class="fa fa-plus-square fa-spin fa-fw"
                    aria-hidden="true"></i> Order a new campaign</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.basket') }}">({% if g.basket is defined %}{{ g.basket }}{% else %}0{% endif %})<i class="fa fa-shopping-cart
                    fa-fw" aria-hidden="true"></i> Shopping basket</a></li>
    {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
    {% if current_user and current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.campaign') }}">campaigns</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('user.bannerz') }}">banners</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="x" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i></a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('public.logout') }}">Logout</a>
                <div class="dropdown-divider"></div>
            </div>
        </li>
    {% else %}
        <li class="nav-item"><a href="{{ config.USER_LOGIN_URL }}">Sign in</a></li>
        <li class="nav-item"><a href="{{ config.USER_REGISTER_URL }}">Create account</a></li>
    {% endif %}
    </ul>
    </div>
</nav>
