
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>Add a new zone</h1>
        <p class="lead">{{ all_zones }}</p>
    </div>
    <form id="uploadForm" action="" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            {{ form.zone_website.label }}
            {{ form.zone_website( placeholder="Unique name", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.zone_name.label }}
            {{ form.zone_name( placeholder="Unique name", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.zone_comments.label }}
            {{ form.zone_comments( placeholder="Comments", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.zone_width.label }}
            {{ form.zone_width( placeholder="Comments", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.zone_height.label }}
            {{ form.zone_height( placeholder="Comments", class_="form-control" ) }}
        </div>
        <p><button class="btn btn-info btn-submit" type="submit">Add this zone</button></p>
    </form>
</div>

{% endblock %}

