
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        {% if zoneid is none %}
            <h1>Zones</h1>
        {% else %}
            <h1>Modify existing zone #{{ zoneid }}</h1>
        {% endif %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Website</th>
                    <th scope="col">Comments</th>
                    <th scope="col">Size</th>
                    <th scope="col">Square</th>
                    <th scope="col">Is active?</th>
                    <th scope="col">Default?</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
            {% for zone in all_zones: %}
                <tr>
                    <td>{{ zone.id }}</td>
                    <td>{{ zone.name }}</td>
                    <td>{{ zone.website.name }}</td>
                    <td>{{ zone.comments }}</td>
                    <td>{{ zone.width }}x{{ zone.height }}</td>
                    <td>{{ zone.x0 }}x{{ zone.y0 }} {{ zone.x1 }}x{{ zone.y1 }}</td>
                    <td>{{ zone.active }}</td>
                    <td>
                        <div class="row">
                        {% for x in default_campaignes %}
                            {% if x[0] == zone.id %}
                                <div class="col">
                                    <a href="{{ url_for('user.campaign', campaign_id=x.id) }}">
                                        <img class="img-thumbnail thumbmax" src="{{ urls[x.id] }}">
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </td>
                    <td><a href="{{ url_for('user.add_zone', zoneid=zone.id) }}"><button type="button" class="btn btn-secondary btn-sm">edit</button></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if zoneid is none %}
    <h3>Add a new one:</h3>
    {% endif %}
    <form id="uploadForm" action="" role="form" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        <div class="input-group">
            <span class="input-group-text">{{ form.zone_website.label }}</span>
            {{ form.zone_website( placeholder="Unique name", class_="form-control" ) }}
        </div>
        <div class="input-group">
            <span class="input-group-text">{{ form.zone_name.label }}</span>
            {{ form.zone_name( placeholder="Unique name", class_="form-control" ) }}
        </div>
        <div class="input-group">
            <span class="input-group-text">{{ form.zone_comments.label }}</span>
            {{ form.zone_comments( placeholder="Comments", class_="form-control" ) }}
        </div>
        <div class="row g-2">
            <div class="col-md">
                {{ form.zone_width.label }}, {{ form.zone_height.label }}
                <div class="input-group mb3">
                    {{ form.zone_width( placeholder="pixels", class_="form-control" ) }}
                    <span class="input-group-text">x</span>
                    {{ form.zone_height( placeholder="pixels", class_="form-control" ) }}
                </div>
            </div>
            <div class="col-md">
                {{ form.zone_x0.label }},  {{ form.zone_y0.label }}
                <div class="input-group mb3">
                {{ form.zone_x0( class_="form-control", size=5, maxlength=5 ) }}
                <span class="input-group-text">x</span>
                {{ form.zone_y0( class_="form-control", size=5, maxlength=5 ) }}
                </div>
            </div>
            <div class="col-md">
                {{ form.zone_x1.label }}, {{ form.zone_y1.label }}
                <div class="input-group mb3">
                {{ form.zone_x1( class_="form-control" ) }}
                <span class="input-group-text">x</span>
                {{ form.zone_y1( class_="form-control" ) }}
                </div>
            </div>
            <div class="col-md">
                <div class="input-group">
                    <span class="input-group-text">{{ form.zone_active.label }}</span>
                    {{ form.zone_active( class_="form-control" ) }}
                </div>
            </div>
        </div>
        {% if zoneid is none %}
            <button class="btn btn-info btn-submit" type="submit">Add this zone</button>
        {% else %}
            <input type="hidden" name="edited" value="yes"/>
            <button class="btn btn-info btn-submit btn-large" type="submit">Modify this zone</button>
        {% endif %}
    </form>
</div>

{% endblock %}

