
{% extends "layout.html" %}
{% block content %}
    <h1>Your banners, {{ current_user.username }}</h1>
    <h2><button><a href="{{ url_for('user.add_bannerz') }}">Add a new banner</a></button></h2>
    <table>
    {% for banner in all_banners %}
    <tr>
        <td>{{ banner.id }}</td>
        <td>{{ banner.created_at }}</td>
        <td>{{ banner.url }}</td>
        <td>{{ banner.height }}</td>
        <td>{{ banner.width }}</td>
        <td>{{ banner.comment }}</td>
        <td>{{ banner.filename }}</td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

