
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Your banners, {{ current_user.username }}</h1>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('user.add_bannerz') }}">Add a new banner</a></p>
        <span class="label label-info">
            Your banner must have exactly the same size as the
            zone you want to put it in!</span>
    </div>
    <div id="grid">
        {% for banner in all_banners|reverse %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Banner #{{ banner.id }}</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        {% for url in all_urls %}
                            {% if url[0] == banner.id %}
                                <img src="{{ url[1] }}" class="img-responsive">
                                {#% break %#}
                            {% endif %}
                        {% endfor %}
                        <div class="caption">
                            <div id="created_at">{{ banner.created_at }}</div>
                            <div id="url">{{ banner.url }}</div>
                            <div id="size">{{ banner.width }} x {{ banner.height }}</div>
                            <div id="comment">{{ banner.comment }}</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            savvior.init('#grid', {
                "screen and (max-width: 30em)": { columns: 1 },
                "screen and (min-width: 30em) and (max-width: 60em)" : { columns: 2 },
                "screen and (min-width: 60em) and (max-width: 80em)": {
                      columns: 3 },
                "screen and (min-width: 80em)": { columns: 4 },
            });
        });
     </script>
{% endblock %}
