
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>Your banners, {{ current_user.username }}</h1>
        <p><a class="btn btn-primary btn-lg" role="button" href="{{ url_for('user.add_bannerz') }}">Add a new banner</a></p>
    </div>
    <table class="table">
    {% for banner in all_banners %}
    <tr>
        <td>{{ banner.id }}</td>
        <td>{{ banner.created_at }}</td>
        <td>{{ banner.url }}</td>
        <td>{{ banner.height }}</td>
        <td>{{ banner.width }}</td>
        <td>{{ banner.comment }}</td>
        <td><div class="img-thumbnail"><img src="{{ banner.image_url }}"></div></td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}

