
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
{% if basket == 0 %}
        <h1>Your basket is empty, {{ current_user.username }}</h1>
        <p><a href="{{ url_for('user.order') }}" class="btn btn-primary">Order a new campaign</a></p>
    </div>
{% else %}
        <h1>Your basket, {{ current_user.username }}</h1>
        <p class="lead">Here you can see your shopping basket.</p>
        <div class="card border-light">
            <div class="card-header">
                All campaigns which you want to order will cost you:
            </div>
            <div class="card-body">
                <h1>EUR &nbsp;<span class="badge badge-pill badge-primary">{{ '%0.2f'|format(totalprice|float) }}</span></h1>
            </div>
            <div class="card-footer">
                <a href="{{ url_for('user.pay') }}" class="btn btn-success btn-lg">
                    Pay for all items</a> or 
                    <a href="{{ url_for('user.order') }}" class="btn btn-secondary btn-lg">Order more before paying</a> or 
                    <a href="{{ url_for('user.clear_basket', campaign_id=0) }}" class="btn btn-danger btn-xs">Empty whole basket</a>
            </div>
        </div>
    </div>
    <div class="card-columns">
        {% for order in basket %}
            <div class="card border-light">
                <div class="card-header">
                    Campaign #{{ order[0].campaigno }}
                </div>
                <div class="card-body">
                    {% if order.stops_at < present %}
                        <div class="alert alert-warning">
                            <h4 class="alert-heading">Campaign already expired!</h4>
                            <p>We advise you to remove it from the basket.</p>
                        </div>
                    {% endif %}
                    <div class="thumbnail">
                        <div class="caption">
                            <div>
                                {% if order.type == "text" %}
                                <div class="card-header">
                                    <i class="{{ order.icon }}" aria-hidden="true"></i>&nbsp;
                                    {{ order.content }}
                                </div>
                                {% else %}
                                    <img class="img-thumbnail thumbmax"
                                        src="{{ config.UPLOADED_IMAGES_URL }}{{ order.filename }}">
                                {% endif %}
                                <br/>
                                {{ order.url }}
                                <br/>
                                <b>From:</b> {{ order.begins_at.strftime('%Y-%m-%d (%A)') }}
                                <br/>
                                <b>To:</b> {{ order.stops_at.strftime('%Y-%m-%d (%A)') }}
                                {% for x in price %}
                                    {% if x[0] == order[0].campaigno %}
                                    <br/>
                                    <b>{{ config.FIAT }}:</b> {{ x[1] }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ config.OUR_URL }}clear/basket/{{ order[0].campaigno }}"
                        class="btn btn-danger btn-sm btn-block">Remove from basket</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
