
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
{% if basket == 0 %}
        <h1>Your basket is empty, {{ current_user.username }}</h1>
        <p><a href="{{ url_for('user.order') }}" class="btn btn-primary">Order a new campaign</a></p>
    </div>
{% else %}
        <h1>Your basket, {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <p>Here you can see your shopping basket.</p>
                <p>In total whole basket is: ***
                    {% set z = [] %}
                    {% for y in price %}
                        {% if y[1] == "EUR" %}
                            {% set z = z.append(y[2]|float) %}
                        {% endif %}
                    {% endfor %}
                    <br/>
                    <b>EUR:</b> {{ z|sum }}

                    {% for x in config.EXCHANGE_PRICES %}
                        {% set z = [] %}
                        {% for y in price %}
                            {% if y[1] == x %}
                                {% set z = z.append(y[2]|float) %}
                            {% endif %}
                        {% endfor %}
                        <br/>
                        <b>{{ x }}:</b> {{ z|sum|round(9) }}
                    {% endfor %}
                <div>
                    <a href="{{ url_for('user.clear_basket', campaign_id=0) }}" class="btn btn-danger">Empty whole basket</a>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <p>Pay for all items in the basket using:</p>
                    {% for x in config.PAYMENT_SYSTEMS %}
                        <div>
                            <a href="{{ url_for('user.pay', payment=x) }}"
                                class="btn btn-success btn-xs">{{ config.PAYMENT_SYSTEMS[x][1] }}</a>
                            <p class="text-info"><em>{{ config.PAYMENT_SYSTEMS[x][2] }}</em></p>
                        </div>
                        {% if loop.last == False %}
                            or
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <div id="grid">
        {% for order in basket %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Campaign #{{ order[0].campaigno }}</h3>
                </div>
                <div class="panel-body">
                    {% if order[0].stops_at < present %}
                        <div class="alert alert-warning">
                            <p>Campaign already expired! Remove it from the basket!</p>
                        </div>
                    {% endif %}
                    <div class="thumbnail">
                        <div class="caption">
                            <div>
                                <img class="img-thumbnail thumbmax"
                                src="{{ config.UPLOADED_IMAGES_URL }}{{ order.filename }}">
                                <br/>
                                {{ order.url }}
                                <br/>
                                <b>From:</b> {{ order[0].begins_at }}
                                <br/>
                                <b>To:</b> {{ order[0].stops_at }}
                                {% for x in price %}
                                    {% if x[0] == order[0].campaigno %}
                                    <br/>
                                    <b>{{ x[1] }}:</b> {{ x[2] }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <a href="{{ config.OUR_URL }}clear/basket/{{ order[0].campaigno }}" class="btn btn-danger btn-xs">Remove from
                                basket</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <p class="text-warning"> *** Please notice that estimated price may change when
        you decide to pay for your basket, according to current zone prices and cryptocurrency market exchange
        value. You'll get the final price when the payment invoice is generated.</p>
{% endif %}
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function() {
            savvior.init('#grid', {
                "screen and (max-width: 30em)": { columns: 1 },
                "screen and (min-width: 30em) and (max-width: 60em)" : { columns: 2 },
                "screen and (min-width: 60em) and (max-width: 80em)": {
                      columns: 3 },
                "screen and (min-width: 80em)": { columns: 4 },
            });
        });
     </script>
{% endblock %}
