
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
    <h1>Hey, {{ current_user.username }} <i class="fab fa-gratipay"
            aria-hidden="true"></i></h1>
    <p class="lead">Here are all details we know about your particular campaign.</p>
    <a href="{{ url_for('user.campaign') }}"
        class="btn btn-info btn-lg"><span class="icon dripicons-arrow-left"></span>&nbsp;See all your campaigns</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-primary mb-3">
                <h4 class="card-header"><span class="icon dripicons-to-do"></span>
                    Campaign details: #{{ campaign[0].id }} {{ campaign[0].name }}

                    {% if is_running == True %}
                        <span class="badge badge-pill badge-info">RUNNING</span>
                        &nbsp;<span class="spinner-grow spinner-grow-sm" role="status"></span>
                    {% else %}
<!--                        <span class="badge badge-pill badge-danger">NOT RUNNING</span> -->
                    {% endif %}

                </h4>
                <div class="card-body">
                    <div class="row"><div class="col-sm-6"><div class="card">
                        <h5 class="card-header">Details</h5>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item d-flex list-group-item-primary"><b>Zone #{{ campaign[0].zoneid }}</b>
                                    &nbsp; - &nbsp; <i>{{ campaign.website }}</i> &nbsp; - {{ campaign.zname }}</li>
                                {% if campaign.type == "text" %}
                                    <li class="list-group-item d-flex align-items-left">
                                        <blockquote class="blockquote">
                                            <i class="{{ dbquery.icon }}" aria-hidden="true"></i>&nbsp;{{ dbquery.content }}
                                        </blockquote>
                                    </li>
                                {% else %}
                                    <img class="img-thumbnail thumbmax" src="{{ url }}">
                                    <li class="list-group-item d-flex align-items-left"><b>Size:</b>&nbsp; {{ campaign.width }}x{{ campaign.height }}
                                {% endif %}

                                {% if campaign[0].active == True %}
                                    <li class="list-group-item d-flex list-group-item-success">ACTIVE</li>
                                {% else %}
                                    <li class="list-group-item d-flex list-group-item-warning">INACTIVE</li>
                                {% endif %}

                                <li class="list-group-item d-flex align-items-left"><b>Start:</b>&nbsp; {{ campaign[0].begins_at.strftime('%Y-%m-%d') }},&nbsp; <b>End:</b>&nbsp; {{ campaign[0].stops_at.strftime('%Y-%m-%d') }}</li>
                                <li class="list-group-item d-flex align-items-left">
                                    {% if campaign[0].begins_at <= now %}
                                        <b>Impressions:</b>&nbsp; {{ campaign.impressions }}
                                    {% else %}
                                        Campaign starts in
                                        {{ ((campaign[0].begins_at - now).days) + 1 }}
                                        day(s)
                                    {% endif %}
                                </li>

                            </ul>
                        </div>
                    </div></div><div class="col-sm-6"><div class="card">
                        <h5 class="card-header">Invoice
                            {% if is_paid == True %}
                                <span class="badge badge-pill badge-info">PAID</span>
                            {% else %}
                                <span class="badge badge-pill badge-danger">NOT PAID</span>
                            {% endif %}
                        </h5>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                    {% if order.received_at != datemin %}
                                        <li class="list-group-item d-flex align-items-left list-group-item-success">
                                            <b>Payment received at:</b>&nbsp; {{ order.received_at }}</li>
                                    {% else %}
                                        <li class="list-group-item d-flex align-items-left list-group-item-danger">
                                                PAYMENT NOT RECEIVED</li>
                                    {% endif %}
                                </li>
                                <li class="list-group-item d-flex align-items-left">
                                    {% if order.confirmed_at != datemin %}
                                        <li class="list-group-item d-flex align-items-left list-group-item-success">
                                            <b>Blockchain confirmed at:</b>&nbsp; {{ order.confirmed_at }}</li>
                                    {% else %}
                                        <li class="list-group-item d-flex align-items-left list-group-item-danger">
                                            PAYMENT NOT CONFIRMED</li>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('user.payments',
                                payment_no=order.id) }}" class="btn btn-info btn-sm
                                    btn-block">Click for full invoice data</a>
                        </div>
                    </div></div></div>
                </div>
                <div class="card-footer">
                           <a href="{{ url_for('user.campaign_active',
                               campaign_no=campaign[0].id)  }}"
                                           class="btn btn-danger btn-sm
                                           btn-block">Disactivate this campaign (you can activate it back again later)</a>

                </div>
            </div>
{% endblock %}
