
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
    <h1>Hey, {{ current_user.username }} <i class="fab fa-gratipay"
            aria-hidden="true"></i></h1>
    <p>Here are your past, current and future campaigns</p>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Your current campaigns</h3>
            <div id="grid">
                {% for campaign in all_campaigns|reverse %}
                    {% include "users/campaign-elements.html" %}
                {% endfor %}
            </div>
            <h3>Unpaid campaigns</h3>
            <div id="grid">
                {% for campaign in all_campaigns|reverse %}
                    {% include "users/campaign-elements-unpaid.html" %}
                {% endfor %}
            </div>
            <h3>Your expired campaigns</h3>
            <div id="grid">
                {% for campaign in all_campaigns|reverse %}
                    {% include "users/campaign-elements-expired.html" %}
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <h3>This is an overview of all recent and ongoing campaigns on our websites</h3>
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    var events_source = "{{ config.SUBDIR  }}/api/all_campaigns_in_zone/0";
    $('#calendar').fullCalendar(
            {
                events: events_source
            }
    );
    savvior.init('#grid', {
        "screen and (max-width: 15em)": { columns: 1 },
        "screen and (min-width: 15em)": { columns: 2 },
    });
</script>
{% endblock %}
