
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
    <h1>Hey, {{ current_user.username }} <i class="fab fa-gratipay"
            aria-hidden="true"></i></h1>
    <p class="lead">Here are all details we know about your particular campaign.</p>
    <a href="{{ url_for('user.campaign') }}"
        class="btn btn-info btn-sm"><i class="far fa-arrow-alt-circle-left"></i>&nbsp;See all your campaigns</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-primary mb-3">
                <h4 class="card-header">
                    Campaign details: #{{ dbquery.campaigno }} {{ dbquery.name }}

                    {% if dbquery.received_at != datemin %}
                    <span class="badge badge-pill badge-info">PAID</span>
                    {% else %}
                    <span class="badge badge-pill badge-danger">NOT PAID</span>
                    {% endif %}

                    {% if dbquery.confirmed_at != datemin %}
                    <span class="badge badge-pill badge-info">CONFIRMED</span>
                    {% else %}
                    <span class="badge badge-pill badge-danger">NOT CONFIRMED</span>
                    {% endif %}

                </h4>
                <div class="card-body">
                    <div class="card-columns">
                        <ul class="list-group">
                            <h5 class="card-title">Banner</h5>
                            <li class="list-group-item d-flex align-items-left"><b>Zone #{{ dbquery.zoneid }}</b>&nbsp; - {{ dbquery.comments }}</li>
                            <img class="img-thumbnail thumbmax" src="{{ config.UPLOADED_IMAGES_URL }}/{{ dbquery.filename }}">
                            <li class="list-group-item d-flex align-items-left"><b>Size:</b>&nbsp; {{ dbquery.width }}x{{ dbquery.height }}
                            <li class="list-group-item d-flex align-items-left"><b>Start:</b>&nbsp; {{ dbquery.begins_at.strftime('%Y-%m-%d') }},&nbsp; <b>End:</b>&nbsp; {{ dbquery.stops_at.strftime('%Y-%m-%d') }}</li>
                            <li class="list-group-item d-flex align-items-left">
                                {% if dbquery.begins_at <= now %}
                                    <b>Impressions:</b>&nbsp; {{ dbquery.impressions }}
                                {% else %}
                                    Campaign starts in
                                       {{ ((dbquery.begins_at - now).days) + 1 }}
                                    day(s)
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex align-items-left"><b>Created at:</b>&nbsp; {{ dbquery.created_at }}</li>
                        </ul>
                        <ul class="list-group">
                            <h5 class="card-title">Payment</h5>
                            <li class="list-group-item d-flex align-items-left"><b>{{ config.PAYMENT_SYSTEMS[dbquery.blockchain][0] }}</b>&nbsp; {{ dbquery.total_coins }}</li>
                            <li class="list-group-item d-flex align-items-left"><b>ID:</b>&nbsp; {{ dbquery.bip70_id }}</li>
                            <li class="list-group-item d-flex align-items-left"><b>Address:</b>&nbsp; <kbd><a href="{{ config.PAYMENT_SYSTEMS[dbquery.blockchain][4] }}{{ dbquery.address }}">{{ dbquery.address }}</a></kbd></li>
                            <li class="list-group-item d-flex align-items-left">
                                {% if dbquery.received_at != datemin %}
                                    <b>Received:</b>&nbsp; {{ dbquery.received_at }}
                                {% else %}
                                        <span class="badge badge-danger">NOT PAID!</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex align-items-left">
                                {% if dbquery.confirmed_at != datemin %}
                                    <b>Confirmed:</b>&nbsp; {{ dbquery.confirmed_at }}
                                {% else %}
                                    <span class="badge badge-danger">NOT CONFIRMED</span>
                                {% endif %}
                            </li>
                            <li class="list-group-item d-flex align-items-left"><b>Transaction:</b>&nbsp; {{ dbquery.txno }}</li>
                        </ul>
                    </div>
                </div>
                <div class="card-footer">
                           <a href="{{ url_for('user.clear_campaign',
                               campaign_no=dbquery.campaigno)  }}"
                                           class="btn btn-danger btn-sm
                                           btn-block">Delete this campaign</a>

                </div>
            </div>
{% endblock %}
