
{% extends "layout.html" %}
{% block content %}
    <h1>Welcome {{ current_user.username }}</h1>
    <h3>This is the members-only page.</h3>
    <div id="calendar"></div>
    {% for campaign in all_campaigns %}
        <p>{{ campaign }}</p>
        {% for banner in banners %}
            {% if campaign.campaignId == banner[0] %}
                {% if banner[1] %}
                    <p>{{ banner[1] }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}

