
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
    <h1>Hey, {{ current_user.username }} <i class="fab fa-gratipay"
            aria-hidden="true"></i></h1>
    <p class="lead">Here are your past, current and future campaigns, limited to those ending {{ no_weeks }} weeks ago or sooner.</p>
    <p>You can also see your older campaigns: 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.campaign') }}/8">2 months</a> or 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.campaign') }}/26">6 months</a> or 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.campaign') }}/52">12 months</a> or 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.campaign') }}/999">all of them</a>
    </p>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div class="card border-primary mb-3">
                <div class="card-header">Your current campaigns</div>
                <div class="card-body">
                    <div class="card-columns">
                    {% for campaign in all_campaigns|reverse %}
                        {% if campaign['ispaid'] == True and campaign['expired'] == False %}
                            {% include "users/campaign-elements.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card border-success mb-3">
                <div class="card-header">Your previous successful campaigns</div>
                <div class="card-body">
                    <div class="card-columns">
                    {% for campaign in all_campaigns|reverse %}
                        {% if campaign['ispaid'] == True and campaign['expired'] == True %}
                            {% include "users/campaign-elements.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card border-warning mb-3">
                <div class="card-header">Unpaid campaigns</div>
                <div class="card-body">
                    <div class="card-columns">
                    {% for campaign in all_campaigns|reverse %}
                        {% if campaign['ispaid'] == False %}
                            {% include "users/campaign-elements.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <h3>This is an overview of all recent and ongoing campaigns on our websites</h3>
            <div id="calendar"></div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    var events_source = "{{ config.SUBDIR  }}/api/all_campaigns_in_zone/0";
    $('#calendar').fullCalendar(
            {
                events: events_source
            }
    );
</script>
{% endblock %}
