<div class="card border-light">
    <div class="card-header">
        <h5><a href="{{ url_for('user.campaign', campaign_no=campaign.campaigno) }}">#{{ campaign.campaigno }} {{ campaign.name }}</a></h5>
        <img class="img-thumbnail thumbmax" 
            src="{{ config.UPLOADED_IMAGES_URL}}{{ campaign.filename }}"
            alt="[B{{ campaign.campaigno }}]">
        <p class="text-muted">{{ campaign.comments }}</p>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>
                <b>From:</b> {{ campaign.begins_at.strftime('%Y-%m-%d') }}<br/>
                <b>To:</b> {{ campaign.stops_at.strftime('%Y-%m-%d') }}
            </p>
            <p>
                <b>{{ config.PAYMENT_SYSTEMS[campaign.blockchain][0] }}:</b>
                    {{ campaign.total_coins }}
            </p>
            <p><b>Impressions:</b> {{ ztatz[campaign.campaigno] }}</p>
        </div>
    </div>
    <div class="card-footer">
        <a href="{{ url_for('user.clear_campaign', campaign_no=campaign.campaigno) }}"
            class="btn btn-danger btn-sm btn-block">Delete this campaign</a>
    </div>
</div>
