<div class="card border-light">
    <div class="card-header">
        <a href="{{ url_for('user.campaign', campaign_no=campaign['campaignId']) }}">#{{ campaign['campaignId']  }} {{ campaign['campaignName'] }}</a>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>
                <b>From:</b> {{ campaign['startDate'].strftime('%Y-%m-%d') }}<br/>
                <b>To:</b> {{ campaign['endDate'].strftime('%Y-%m-%d') }}
            </p>
            <p>
                <b>{{ config.PAYMENT_SYSTEMS[campaign['chain']][0] }}:</b>
                    {{ campaign['amount_coins'] }} <i
                        class="fa fa-arrows-h"
                        aria-hidden="true"></i><br/>
                Confirmed? <a href="{{ config.PAYMENT_SYSTEMS[campaign['chain']][4] }}{{ campaign['address'] }}"
                        target="_blank">
                        {{ campaign['ispaid'] }}</a>
            </p>
            <p><b>Impressions:</b> {{ campaign['impressions'] }}</p>
        </div>
    </div>
    <div class="card-footer text-muted">
        {% for banner in banners %}
            {% if campaign['campaignId'] == banner[0] %}
                {% if banner[1] %}
                <img class="img-thumbnail thumbmax" 
                    src="{{ banner[1][0]['imageURL'] }}"
                    alt="[]">
                {% endif %}
            {% endif %}
        {% endfor %}
        <p>{{ campaign['comments'] }}</p>
    </div>
</div>
