
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>All users, {{ current_user.username }}</h1>
        <span class="label label-info">
            This is a basic list of all users.</span>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">id</th>
                <th>username</th>
                <th>email</th>
                <th>confirmed_at</th>
                <th>is_enabled</th>
            </tr>
        </thead>
        <tbody>
            {% for oneuser in all_users|reverse %}
            <tr>
                <th scope="row">{{ oneuser.id }}</th>
                <td><a href="{{ url_for('user.logaboutuser', user_id=oneuser.id) }}">{{ oneuser.username }}</a></td>
                <td>{{ oneuser.email }}</td>
                <td>{{ oneuser.confirmed_at }}</td>
                <td>{{ oneuser.is_enabled }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
