
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>This is it, {{ current_user.username  }}</h1>
        <p>These are all zones in our offer. When you are decided, please <a href="{{ url_for('user.order') }}">order</a>.</p>
    </div>
    {% for website in publishers %}
        <h2>{{ website.publisherName }}</h2>
            <div id="grid">
            {% for zone in allzones %}
                {% if zone.publisherId == website.publisherId %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{ zone.zoneName }}</h3>
                        </div>
                        <div class="panel-body">
                            <div id="widthheight">{{ zone.width }}x{{ zone.height }}</div>
                            <div id="comments"> {{ zone.comments }}</div>
                            <div id="price"> {{ zone.price }}</div>
                            <form action="{{ url_for('user.offer') }}" method="post">
                                {{ form.csrf_token }}
                                {{ form.zoneprice(size=5) }}
                                <input type="hidden" name="zoneid" value="{{ zone.zoneId }}">
                                <input type="submit" value="Change">
                            </form>
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}
            </div>
    {% endfor %}
{% endblock %}

