
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>This is it, {{ current_user.username  }}</h1>
        <p class="lead">These are all zones in our offer. When you are decided, please <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.order') }}">order a new campaign</a></p>
    </div>
    {% for website in publishers %}
        <h2>{{ website.publisherName }}</h2>
            <div class="card-columns">
            {% for zone in allzones %}
                {% if zone.publisherId == website.publisherId %}
                    <div class="card border-light">
                        <div class="card-header">
                            Zone #{{ zone.zoneId }} ※ {{ zone.zoneName }}
                        </div>
                        {% if zone.type == 0 %}
                        <img class="img-fluid" alt="zone {{ zone.zoneId }}"src="{{ config.UPLOADED_IMAGES_URL }}overview/zone-{{ zone.zoneId }}.png">
                        {% endif %}
                        <div class="card-body">
                            <div id="comments"><p class="card-subtitle text-muted">{{ zone.comments }}</p><br/></div>
                            {% if zone.type == 0 %}
                            <div id="widthheight"><img src="holder.js/{{ zone.width }}x{{ zone.height }}" class="img-thumbnail thumbmax"></div>
                            <div id="size"><p>Size: {{ zone.width }}x{{ zone.height }}</p></div>
                            {% endif %}
                            <div id="impressions"><p>Last 30 days impressions of all banners in this zone: {{ zone.impressions }}</p></div>
                            <div id="price"><p>{{ zone.price / 100 }} {{ config.FIAT }}/day</p></div>
                            {% if isadmin == True %}
                            {% if zone.type == 0 %}
                            <div id="overview"><p>Overview params: (x0={{ zone.x0 }}, y0={{ zone.y0 }}) (x1={{ zone.x1 }}, y1={{ zone.y1 }})</p></div>
                            {% endif %}
                            <form action="{{ url_for('user.offer') }}" method="post">
                                <div class="form-group">
                                    <label class="control-label">Zone administration</label>
                                    <input class="form-control" type="hidden" name="zoneid" value="{{ zone.zoneId }}">
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">price in cents</span>
                                        </div>
                                        {{ form.zoneprice(size=5, value=zone.price) }}
                                    </div>
                                </div>
                                {% if zone.type == 0 %}
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">x0</span>
                                        </div>
                                        {{ form.x0(size=5, value=zone.x0) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">x1</span>
                                        </div>
                                        {{ form.x1(size=5, value=zone.x1) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">y0</span>
                                        </div>
                                        {{ form.y0(size=5, value=zone.y0) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">y1</span>
                                        </div>
                                        {{ form.y1(size=5, value=zone.y1) }}
                                    </div>
                                </div>
                                {% endif %}
                                {{ form.csrf_token }}
                                <input type="submit" value="Change">
                            </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
    {% endfor %}
{% endblock %}
