
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <h1>This is it, {{ current_user.username  }}</h1>
        <p class="lead">These are all zones in our offer. When you are decided, please <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.order') }}">order a new campaign</a></p>
    </div>
    {% for website in publishers %}
        <h2>{{ website.publisherName }}</h2>
            <div class="card-columns">
            {% for zone in allzones %}
                {% if zone.publisherId == website.publisherId %}
                    <div class="card border-light">
                        <div class="card-header">
                            {{ zone.zoneName }}
                        </div>
                        <div class="card-body">
                            <div id="widthheight"><img src="https://placehold.it/{{ zone.width }}x{{ zone.height }}" class="img-thumbnail thumbmax"></div>
                            <div id="size"><p>Size: {{ zone.width }}x{{ zone.height }}</p></div>
                            <div id="impressions"><p>Monthly impression of all banners in this zones: {{ zone.impressions }}</p></div>
                            <div id="comments">{{ zone.comments }}</div>
                            <div id="price"><p>{{ zone.price / 100 }}<i class="fas
                                        fa-euro-sign fa-fw" aria-hidden="true"></i>/day</p></div>
                            {% if isadmin == True %}
                                <form action="{{ url_for('user.offer') }}" method="post">
                                    {{ form.csrf_token }}
                                    {{ form.zoneprice(size=5) }}
                                    <input type="hidden" name="zoneid" value="{{ zone.zoneId }}">
                                    <input type="submit" value="Change">
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
    {% endfor %}
{% endblock %}
