    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar')
            var calendar = new FullCalendar.Calendar(calendarEl, {
                        container: container,
                        events: events_source,
        });
        var options={
                    format: 'dd/mm/yyyy',
                    container: container,
                    todayHighlight: true,
                    autoclose: true,
                    };
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var date_input1=$('input[name="datestart"]'); //our date input has the name "date"
        var date_input2=$('input[name="datend"]'); //our date input has the name "date"
        date_input1.datepicker(options);
        date_input2.datepicker(options);

        calendar.render();
        })
     </script>
