<script type="text/javascript">

new QRious({
	element: document.getElementById('qrcode'),
	value: payuri,
	background: "white",
	foreground: "black",
	level: "L",
	size: 1500 // It is automatically scaled down by CSS
});

$.timeago.settings.allowFuture = true;

/* TODO: verify if client is capable to do WebSockets */
if (payid) {
            $('.progress .progress-bar').progressbar();
            var $pb = $('.progress .progress-bar');
            jQuery(function ($) {
                var current;
                var initial = paytime;
                var duration = payexp;
                if (duration) {
                  function update() {
                    var current = 100 - (100 * (Math.floor(Date.now()/1000) - initial)/duration);
                    $pb.attr('data-transitiongoal', current).progressbar({
                        display_text: 'center',
                        use_percentage: false,
                        amount_format: function(amount_part) {
                                        if (current > 0) {
                                            return "Expires in: " + $.timeago(new Date(initial * 1000 + duration *1000));
                                        }},
                    });
                    if (current <= 0) {
                        $("div.progress").replaceWith('<div class="alert alert-danger" role="alert">This payment request has expired, do not try pay it anymore!</div>');
                        $("p#btcpay").replaceWith('<p>You were about to pay:</p>');
                        $("p#reqpaid").replaceWith('');
                        $("p#btcdesc").replaceWith('');
                        $("p#btcinfo").replaceWith('<p>to the bitcoin address:</p>');
                        // We can close WSS as we don't need to get any more data from Electrum
                        ws.close();
                    }
                  };
                  var interval = setInterval(update, 3000);
                 }
            });
            // Websocket activation and monitoring
            jQuery(function ($) {
                var ws = new WebSocket(wssaddr);
                console.log("Opening WSS: " + wssaddr);

                ws.onopen = function() {
                    ws.send('id:' + payid);
                    console.log("WSS is watching payment request ID: " + payid)
                };

                ws.onclose = function(){
                    console.log("WSS connection got closed. Probably the invoice has expired or got paid?")
                };

                ws.onerror = function(error){
                    console.log('WSS error detected: ' + error);
                };

                ws.onmessage = function (evt) {
                    var received_msg = evt.data;
                    if (received_msg == 'paid') {
                        console.log("We have recived message from Electrum via WSS that transaction is paid.")
                        $("div.progress").replaceWith('<div class="alert alert-success" role="alert"><p>This payment has been sent! Thank you.</p><p>We will activate the campaign after receiving one confirmation from the bitcoin blockchain.</p></div>');
                        $("p#reqpaid").replaceWith('<p><span class="badge">PAID</span> to address:</p>');
                        $("p#btcpay").replaceWith('<h2>&nbsp;</h2>');
                        $("p#btcinfo").replaceWith('');
                        $("p#btcstar").replaceWith('');
                        $("p#btcdesc").replaceWith('');
                        // We can close WSS as we don't need to get any more data from Electrum
                        ws.close();
                    }
                    else console.log("An unexpected WSS message was received from Electrum:"+ received_msg);
                };

            });
};


// See http://stackoverflow.com/questions/29186154/chrome-clicking-mailto-links-closes-websocket-connection
$(document).on('click', 'a[href^="bitcoin:"]', function (e) {
    e.preventDefault();
    var btcWindow = window.open($(e.currentTarget).attr('href'));
    btcWindow.close();
    return false;
});

</script>
