
{% extends "layout.html" %}
{% block content %}
{% if step == 'chose-banner' %}
    <div class="jumbotron">
        <h1>Select a banner, {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <p>Select a banner for your new campaign, please</p>
                <p>or <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('user.add_bannerz') }}">Add a new banner</a></p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>Alternatively</h4>
                <form action="{{ url_for('user.order')  }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" name="submit" class="btn btn-danger"
                        value="cancel">Cancel this campaign</button>
                </form>
            </div>
        </div>
    </div>
    <div id="grid">
        {% for banner in all_banners|reverse %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Banner #{{ banner.id }}</h3>
                </div>
                <div class="panel-body">
                    <div class="thumbnail">
                        {% for url in all_urls %}
                            {% if url[0] == banner.id %}
                                <img src="{{ url[1] }}" class="img-responsive">
                            {% endif %}
                        {% endfor %}
                        <div class="caption">
                            <div id="created_at">{{ banner.created_at }}</div>
                            <div id="url">{{ banner.url }}</div>
                            <div id="size"><p>size: {{ banner.width }}x{{ banner.height }}</p></div>
                            <div id="comment">{{ banner.comment }}</div>
                        </div>
                        <form action="{{ url_for('user.order') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <input type="hidden" name="banner_id" value="{{ banner.id }}">
                            <input type="hidden" name="step" value="chose-zone">
                            <button type="submit" value="chose-zone" class="btn
                                btn-primary">Choose this banner</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% elif step == "chose-zone" %}
    <div class="jumbotron">
        <h1>Select the zone, {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3>In which zone do you want to display this banner?</h3>
                <p><img class="img-thumbnail thumbmax" src="{{ image_url }}"></p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>Alternatively</h4>
                    <form action="{{ url_for('user.order')  }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                        <button type="submit" name="submit" class="btn btn-danger"
                            value="cancel">Cancel this campaign</button>
                    </form>
            </div>
        </div>
    </div>
    {% if all_zones %}
        <div id="grid">
            {% for zone in all_zones %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Zone #{{ zone.zoneId }}</h3>
                    </div>
                    <div class="panel-body">
                        <div id="zonename">{{ zone.zoneName }}</div>
                        <div id="zonesizetxt"><p>size: {{ zone.width }}x{{ zone.height }}; price: {{ zone.price.dayprice / 100 }}<i
                                    class="fa fa-eur fa-fw" aria-hidden="true"></i>/day</p></div>
                        <div id="zonesize"><img src="https://placehold.it/{{ zone.width}}x{{ zone.height }}" class="img-thumbnail thumbmax"></div>
                        <form action="{{ url_for('user.order') }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                            <input type="hidden" name="banner_id" value="{{ banner.id }}" />
                            <input type="hidden" name="zone_id" value="{{ zone.zoneId }}" />
                            <input type="hidden" name="step" value="chose-date" />
                            <button type="submit" name="submit" value="chose-date" class="btn
                                btn-primary">Choose this zone</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>There are no zones able to fit your banner. Check 
            <a href="{{ url_for('user.offer') }}">our offer</a> again, please.</p>
    {% endif %}
{% elif step == "chose-date" %}
    <div class="jumbotron">
        <h1>Select dates, {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3>Please select time period for this banner</h3>
                <p><img class="img-thumbnail thumbmax" src="{{ image_url }}"></p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>Alternatively</h4>
                <form action="{{ url_for('user.order')  }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" name="submit" class="btn btn-danger"
                        value="cancel">Cancel this campaign</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <form action="{{ url_for('user.order') }}" method="post">
                <div class="row">
                    <div class="col-sm-6 col-xs-12"><p>Start:</p>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        <input type="text" id="datestart" name="datestart" value="" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12"><p>Finish:</p>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        <input type="text" id="datend" name="datend" value="" />
                        </div>
                    </div>
                </div>
                <br/><br/>
                <div class="row">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="banner_id" value="{{ banner_id }}" />
                    <input type="hidden" name="zone_id" value="{{ zone_id }}" />
                    <input type="hidden" name="step" value="pay" />
                    <button type="submit" name="submit" value="pay" class="btn
                        btn-primary">Confirm and go to payment details</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h3>All recent campaigns in this zone, for your conveniance</h3>
            <div id="calendar"></div>
        </div>
    </div>
    <script>
        var events_source = "{{ config.SUBDIR }}/api/all_campaigns_in_zone/{{ zone_id }}";
    </script>
{% elif step == "pay" %}
    <script>
        var payid = "{{ electrum['id'] }}";
        var wssaddr = "wss://{{ electrum['websocket_server'] }}:{{ electrum['websocket_port'] }}/";
        var paytime = "{{ electrum['time'] }}"
        var payexp = "{{ electrum['exp'] }}";
        var payuri = "{{ electrum['URI'] }}";
    </script>
    <div class="jumbotron">
        <h1>Just pay, {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <p>Carefully check your order and please pay. After you pay, we
                will automatically verify the payment and show you that it's
                paid.</p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h4>Alternatively</h4>
                <form action="{{ url_for('user.order')  }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" name="submit" class="btn btn-danger"
                        value="cancel">Cancel this campaign</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h3>Statement of facts</h3>
            <p>You want to have a campaign with banner #{{ banner_id }}</p>
            <p><img class="img-thumbnail thumbmax" src="{{ image_url }}"></p>
            <p>for period: {{ datestart }} -  {{ datend }}.</p>
            <h3>Calculations</h3>
            <p>It's {{ days+1 }} day(s) alltogether, each day for: {{ dayprice/100 }} <i class="fa fa-eur fa-fw" aria-hidden="true"></i></p>
            <p>1 BTC if now for {{ exrate }} <i class="fa fa-eur fa-fw"
                    aria-hidden="true"></i></p>
            <p>Total is: {{ btctotal }} BTC /  {{ dayprice/100*(days+1) }} 
                <i class="fa fa-eur fa-fw" aria-hidden="true"></i>.</p>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <canvas id="qrcode"></canvas>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <p id='btcpay'>Amount to pay:
                        <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup>
                    </p>
                    <h3>
                        <i class="fa fa-btc" aria-hidden="true"></i>
                        <kbd id="amount">{{ electrum['amount (BTC)'] }}</kbd>
                    </h3>
                    <p id='reqpaid'><a class="btn btn-primary" id="paylink" href="{{ electrum['URI'] }}">Click to pay with a connected wallet</a></p>
                    <p id='btcinfo'>or send money directly to the bitcoin address:</p>
                    <p class="dont-break-out"><kbd class="dont-break-out" id="address">{{ electrum['address'] }}</kbd></p>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="progress progress-striped active right">
                        <div class="progress-bar progress-bar-warning six-sec-ease-in-out" role="progressbar"></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p id='btcstar'><sup><i class="fa fa-asterisk"
                                aria-hidden="true"></i></sup> Please be aware
                        that you should cover bitcoin transaction fee and send
                        us precisely the amount specified above.</p>
                    <p id='btcdesc'><b>Your campaign activates only 
                        after we receive one confirmation from the bitcoin
                        blockchain. Keep a proper transaction fee if you want
                        be served on time. </b>This page will get automatically
                        updated when you pay or when the payment request is being
                        expired.</p>
                </div>
            </div>
        </div>
    </div>

{% endif %}
{% endblock %}

{% block js %}
{% if step == "pay" %}
    {% include "users/order-pay.html" %}
{% elif step == "chose-date" %}
    {% include "users/order-chose-date.html" %}
{% endif %}
    <script>
        $(document).ready(function() {
            savvior.init('#grid', {
                "screen and (max-width: 30em)": { columns: 1 },
                "screen and (min-width: 30em) and (max-width: 60em)" : { columns: 2 },
                "screen and (min-width: 60em) and (max-width: 80em)": {
                      columns: 3 },
                "screen and (min-width: 80em)": { columns: 4 },
            });
        });
     </script>
{% endblock %}
