    <script>
        jQuery(document).ready(function($) {
            var date_input1=$('input[name="datestart"]'); //our date input has the name "date"
            var date_input2=$('input[name="datend"]'); //our date input has the name "date"
            var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
            var options={
                format: 'dd/mm/yyyy',
                container: container,
                todayHighlight: true,
                autoclose: true,
            };
            date_input1.datepicker(options);
            date_input2.datepicker(options);
        });
        $('#calendar').fullCalendar(
            {
                events: events_source,
            }
        );
     </script>
