
{% extends "layout.html" %}
{% block content %}
    <script>
        var payid = "{{ electrum['id'] }}";
        var wssaddr = "wss://{{ electrum['websocket_server'] }}:{{ electrum['websocket_port'] }}/";
        var paytime = "{{ electrum['time'] }}"
        var payexp = "{{ electrum['exp'] }}";
        var payuri = "{{ electrum['URI'] }}";
    </script>
    <div class="jumbotron">
        <h1>Just pay, {{ current_user.username }}</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>After you pay, we will automatically verify the payment
                    and show you that it's paid.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h3>Statement of facts</h3>
            <p>You want to have {{ orders }} campaign(s).</p>
            <h3>Calculations</h3>
            <p>1 {{ currency }} is now for {{ exrate }}
                <i class="fa fa-eur fa-fw" aria-hidden="true"></i></p>
            <p>Total is:
                {{ total }}<i class="fa fa-eur fa-fw" aria-hidden="true"></i> /
                {{ currency }}: {{ electrum['amount']|float / 100000000 }}
            </p>
            <p class="alert alert-warning" role="alert">ATTENTION! Please pay
                a good miner fee to have your transaction confirmed on time!
                Estimated minimum fee: <b>{{ currency }}</b> {{ fee }} 
                - but your wallet should suggest a correct value according
                to your local circumstances.</p>

        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <canvas id="qrcode"></canvas>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <p id='btcpay'>Amount to pay:
                        <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup>
                    </p>
                    <h3>
                        {{ currency }}:
                        <kbd id="amount">{{ electrum['amount']|float / 100000000 }}</kbd>
                    </h3>
                    <p id='reqpaid'><a class="btn btn-primary" id="paylink" href="{{ electrum['URI'] }}">Click to pay with a connected wallet</a></p>
                    <p id='btcinfo'>or send money directly to the {{ currency }} address:</p>
                    <p class="dont-break-out"><kbd class="dont-break-out" id="address">{{ electrum['address'] }}</kbd></p>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="progress progress-striped active right">
                        <div class="progress-bar progress-bar-warning six-sec-ease-in-out" role="progressbar"></div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p id='btcstar'><sup><i class="fa fa-asterisk"
                                aria-hidden="true"></i></sup> Please be aware
                        that you should cover {{ currency }} transaction fee and send
                        us precisely the amount specified above.</p>
                    <p id='btcdesc'><b>Your campaign activates only 
                        after we receive one confirmation from the {{ currency }}
                        blockchain. Keep a proper transaction fee if you want
                        be served on time. </b>This page will get automatically
                        updated when you pay or when the payment request is being
                        expired.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
{% include "users/order-pay.html" %}
    <script>
        $(document).ready(function() {
            savvior.init('#grid', {
                "screen and (max-width: 30em)": { columns: 1 },
                "screen and (min-width: 30em) and (max-width: 60em)" : { columns: 2 },
                "screen and (min-width: 60em) and (max-width: 80em)": {
                      columns: 3 },
                "screen and (min-width: 80em)": { columns: 4 },
            });
        });
     </script>
{% endblock %}
