
{% extends "layout.html" %}
{% block content %}
    <script>
        var payid = "{{ electrum['id'] }}";
        var wssaddr = "wss://{{ electrum['websocket_server'] }}:{{ electrum['websocket_port'] }}/";
        var paytime = "{{ electrum['time'] }}"
        var payexp = "{{ electrum['exp'] }}";
        var payuri = "{{ electrum['URI'] }}";
    </script>
    <div class="jumbotron">
        <div class="naglowek">
            <h1>Just pay, {{ current_user.username }}</h1>
            <p>You have <span class="youhave">twenty minutes from
                now</span> to pay. After you pay, we will automatically verify
                the payment and show you that it's paid.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12">
            <h3>Statement of facts</h3>
            <p>You want to have {{ orders }} campaign(s).</p>
            <h3>Calculations</h3>
            <p>1 {{ currency }} is now for {{ exrate }}
                <i class="fas fa-euro-sign" aria-hidden="true"></i></p>
            <p>Total is:
                {{ total }}<i class="fas fa-euro-sign" aria-hidden="true"></i> /
                {{ currency }}: {{ electrum['amount']|float / 100000000 }}
            </p>
            <p><b>Your campaign activates only after we receive one confirmation
                from the {{ currency }} blockchain. Keep proper transaction
                fee if you want be served.</b></p>
            <p id='btcdesc'>This page will get automatically
                updated when you pay or when the payment request is being
                expired.</p>
        </div>
        <div class="col-sm-8 col-xs-12">
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <canvas id="qrcode"></canvas>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <p id='btcpay'>Amount to pay:
                        <sup><i class="fa fa-asterisk" aria-hidden="true"></i></sup>
                    </p>
                    <h3>
                        {{ currency }}:
                        <kbd id="amount">{{ electrum['amount']|float / 100000000 }}</kbd>
                    </h3>
                    <p id='reqpaid'><a class="btn btn-primary" id="paylink" href="{{ electrum['URI'] }}">Click to pay with a connected wallet</a></p>
                    <p id='btcinfo'>or send money directly to the {{ currency }} address:</p>
                    <p class="dont-break-out"><kbd class="dont-break-out" id="address">{{ electrum['address'] }}</kbd></p>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-3 col-xs-12">
                    <div class="odliczanie">
                        <center>
                            <span class="pp clockface" data-val="100"></span>
                            <p class="licznik"></p>
                        </center>
                    </div>
                </div>
                <div class="col-sm-9 col-xs-12">
                    <p id='btcstar'><sup><i class="fa fa-asterisk"
                                aria-hidden="true"></i></sup> Please be aware
                        that you should cover {{ currency }} transaction fee and send
                        us precisely the amount specified above.</p>
                    <p id='minerfee'>Estimated minimum fee: <b>{{ currency }}</b>
                        {{ fee }} - but your wallet should suggest correct
                        value according to your local circumstances.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {% include "users/order-pay.html" %}
{% endblock %}
