
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <p>{{ all_payments }}
    <h1>Hey, {{ current_user.username }} <i class="fab fa-gratipay"
            aria-hidden="true"></i></h1>
    <p class="lead">Here are your pyaments, limited to those created {{  "%.0f" | format(no_weeks/4) }} month(s) ago or sooner.</p>
    <p>You can also see your older payments: 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.payments', no_weeks=8) }}">2 months</a> or 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.payments', no_weeks=26) }}">6 months</a> or 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.payments', no_weeks=52) }}">12 months</a> or 
        <a class="btn btn-primary btn-sm" role="button" href="{{ url_for('user.payments', no_weeks=999) }}">all of them</a>
    </p>
    </div>
    <div class="row">
        <div class="col-sm-6">

            <div class="card border-primary mb-3">
                <h4 class="card-header"><span class="icon dripicons-to-do"></span>
                    Your confirmed payments</h4>
                <div class="card-body">
                    <div class="card-columns">
                    {% for payment in all_payments|reverse %}
                    {% if payment.confirmed_at != datemin and ((payment.created_at - now).days + 1) >= 0 %}
                            {% include "users/payments-elements.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

            <div class="card border-warning mb-3">
                <h4 class="card-header"><span class="icon
                        dripicons-wrong"></span> Unpaid/unconfirmed payments</h4>
                <div class="card-body">
                    <div class="card-columns">
                        {% for payment in all_payments|reverse %}
                        {% if payment.confirmed_at == datemin %}
                            {% include "users/payments-elements.html" %}
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
