
{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
    <h1>Hey, {{ current_user.username }} <i class="fab fa-gratipay"
            aria-hidden="true"></i></h1>
    <p class="lead">Here are all details we know about your particular payment.</p>
    <a href="{{ url_for('user.payments') }}"
        class="btn btn-info btn-lg"><span class="icon dripicons-arrow-left"></span>&nbsp;See all your payments</a>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card border-primary mb-3">
                <h4 class="card-header"><span class="icon dripicons-to-do"></span>
                    Payment #{{ dbquery.id }} details: {{ dbquery.name }}

                    {% if dbquery.received_at != datemin %}
                    <span class="badge badge-pill badge-info">PAID</span>
                    {% else %}
                    <span class="badge badge-pill badge-danger">NOT PAID</span>
                    {% endif %}

                    {% if dbquery.confirmed_at != datemin %}
                    <span class="badge badge-pill badge-info">CONFIRMED</span>
                    {% else %}
                    <span class="badge badge-pill badge-danger">NOT CONFIRMED
                        {% if dbquery.received_at != datemin %}
                            &nbsp;<span class="spinner-grow spinner-grow-sm" role="status"></span>
                        {% endif %}
                    </span>
                    {% endif %}

                </h4>
                <div class="card-body">
                    <div class="row"><div class="col-sm-6"><div class="card"> 
                        <h5 class="card-header">Invoice data from payment
                            processor</h5>
                        <div class="card-body">
                            <ul class="list-group">
                                <li class="list-group-item d-flex align-items-left"><b>Label:</b>&nbsp; {{ label }}</li>
                                <li class="list-group-item d-flex align-items-left list-group-item-primary"><b>Status:</b>&nbsp; {{ status }}</li>
                                {% if dbquery.fiat_amount > 0 %}
                                    <li class="list-group-item d-flex align-items-left"><b>Amount:</b>&nbsp; {{ dbquery.fiat }}&nbsp;{{ dbquery.fiat_amount }}</li>
                                {% endif %}
                                <li class="list-group-item d-flex align-items-left"><b>Created at:</b>&nbsp; {{ dbquery.created_at }}</li>
                                {% if dbquery.btcpayserver_id %}
                                    <li class="list-group-item d-flex align-items-left"><b>Invoice ID:</b>&nbsp; {{ dbquery.btcpayserver_id }}</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div></div><div class="col-sm-6"><div class="card">
                            <h5 class="card-header">Payment(s)</h5>
                            <div class="card-body">
                                    {% for tx in cryptoInfo %}
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex align-items-left"><b>{{ tx['cryptoCode'] }}</b>&nbsp; {{ tx['cryptoPaid'] }}</li>
                                        <li class="list-group-item d-flex align-items-left"><b>Rate {{ tx['cryptoCode'] }} / {{ dbquery.fiat }}</b>&nbsp; {{ tx['rate'] }}</li>
                                        <li class="list-group-item d-flex align-items-left"><b>Address:</b>&nbsp; <kbd>{{ tx['address'] }}</kbd></li>
                                    </ul><br/>
                                    {% endfor %}
                            </div>
                        </div></div></div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-columns">
                    {% for campaigne in campaignes %}
                        <div class="card border-secondary mb-3">
                            <h5 class="card-header">Campaign #{{ campaigne.id }} {{ campaigne.name }}</h5>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}
