
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>Create a text-only banner</h1>
        <p class="lead">Text banner has maximum of 5 lines 25 characters each. You are able to use Unicode emoticons as well.</p>
        {% if tmpimage %}
            <div class="row g-2">
                <div class="col-md">
                    <img src="/_uploads/images/tmp/{{ tmpimage }}">
                </div>
                <div class="col-md">
                </div>
            </div>
        {% endif %}
    </div>
    <form id="uploadForm" action="" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row g-2">
            <div class="col-md">
                <div class="input-group mb3">
                    <span class="input-group-text">
                        {{ form.banner_width.label }}, {{ form.banner_height.label }}
                    </span>
                    {{ form.banner_width( placeholder="pixels", class_="form-control" ) }}
                    <span class="input-group-text">x</span>
                    {{ form.banner_height( placeholder="pixels", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_url.label }}</span>
                    {{ form.banner_url( placeholder="URL", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_comments.label }}</span>
                    {{ form.banner_comments( placeholder="Comments", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_fg.label }}</span>
                    {{ form.banner_fg( class_="fg form-control" ) }}
                    <span class="input-group-text">{{ form.banner_bg.label }}</span>
                    {{ form.banner_bg( class_="bg form-control" ) }}
                </div>
                <br/>
                <p><button class="btn btn-info btn-submit" name="banner_submit_render" value="render" type="submit">Preview this text banner</button></p>
            </div>
            <div class="col-md">
                <h3>Banner wording</h3>
                <p>Each line can have zero to 50 unicode characters. You don't need
                to fill all lines, only first one is mandatory.</p>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_content_line1.label }}</span>
                    {{ form.banner_content_line1( placeholder="banner text", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_content_line2.label }}</span>
                    {{ form.banner_content_line2( placeholder="banner text (optional)", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_content_line3.label }}</span>
                    {{ form.banner_content_line3( placeholder="banner text (optional)", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_content_line4.label }}</span>
                    {{ form.banner_content_line4( placeholder="banner text (optional)", class_="form-control" ) }}
                </div>
                <div class="input-group">
                    <span class="input-group-text">{{ form.banner_content_line5.label }}</span>
                    {{ form.banner_content_line5( placeholder="banner text (optional)", class_="form-control" ) }}
                </div>
            </div>
        </div>
        {% if tmpimage %}
            <p><button class="btn btn-primary btn-submit" name="banner_submit_save" value="save" type="submit">Save the banner you see for your campaignes</button></p>
            <input type="hidden" name="banner_tmpimage" value="{{ tmpimage }}" />
        {% endif %}
    </form>
</div>

{{ colorpicker.loader() }}
{{ colorpicker.picker(ids=['.fg', '.bg']) }}

{% endblock %}
