
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <h1>Upload a new banner</h1>
    <h3>No banner can be bigger than 500kb!</h3>
    <h4>Recommended size is 100kb.</h4>
    <br/>
    <form id="uploadForm" action="" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            {{ form.banner_url.label }}
            {{ form.banner_url( placeholder="URL", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.banner_comment.label }}
            {{ form.banner_comment( placeholder="Comments", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.banner_image.label }}
            {{ form.banner_image( ) }}
        </div>
        <p><button class="btn btn-info btn-submit" type="submit">Add this banner</button></p>
    </form>
</div>

{% endblock %}

