
{% extends "layout.html" %}
{% block content %}
<div class="container-narrow">
    <div class="jumbotron">
        <h1>Create a text-only banner</h1>
        <p class="lead">Text banner has maximum of 255 characters plus you can
            chose a leading web icon.</p>
    </div>
    <form id="uploadForm" action="" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
            {{ form.banner_url.label }}
            {{ form.banner_url( placeholder="URL", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.banner_content.label }}
            {{ form.banner_content( placeholder="banner text", class_="form-control" ) }}
        </div>
        <div class="form-group">
            {{ form.banner_icon.label }}
            {{ form.banner_icon( placeholder="", class_="form-control ikonf", value="", type="text" ) }}
        </div>
        <div class="form-group">
            {{ form.banner_comments.label }}
            {{ form.banner_comments( placeholder="Comments", class_="form-control" ) }}
        </div>
        <p><button class="btn btn-info btn-submit" type="submit">Add this text banner</button></p>
    </form>
</div>

<script type="text/javascript">
$("head").append('<script type="text/javascript" src="{{ config.SUBDIR }}/static/libs/fontIconPicker/jquery.fonticonpicker.min.js">');
$("head").append('<link rel="stylesheet" type="text/css" href="{{ config.SUBDIR }}/static/libs/fontIconPicker/css/jquery.fonticonpicker.min.css" />');
$("head").append('<link rel="stylesheet" type="text/css" href="{{ config.SUBDIR }}/static/libs/fontIconPicker/themes/grey-theme/jquery.fonticonpicker.grey.min.css" />');
$("head").append('<link rel="stylesheet" type="text/css" href="{{ config.SUBDIR }}/static/libs/fontIconPicker/themes/inverted-theme/jquery.fonticonpicker.inverted.min.css" />');
$("head").append('<link rel="stylesheet" type="text/css" href="{{ config.SUBDIR }}/static/libs/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css">')
$(document).ready(function($) {
    var $picker = $('.ikonf').fontIconPicker({
        theme: 'fip-inverted',
        emptyIcon: false,
    });
    $.ajax({
        // this was taken from: https://gist.githubusercontent.com/swashata/c0db916b33700c91ab75f59d4aeba7d3/raw/366789b2d001a99f5f41f1ceab980d991de059c3/fontawesome-icons-with-categories.json
        url: "{{ config.SUBDIR }}/static/fontawesome-icons-with-categories.json",
        type: 'GET',
        dataType: 'json'
    })
    .done( function( response ) {
        setTimeout( function() {
            $picker.setIcons( response );
        } )
    } )
    });
</script>

{% endblock %}
